<span style="color:mediumseagreen"><b>Avatar ID:</b></span> {{ data.avatar.id }}<br/>
<span style="color:mediumseagreen"><b>First Name:</b></span> {{ data.avatar.first_name }}<br/>
<span style="color:mediumseagreen"><b>Last Name:</b></span> {{ data.avatar.last_name }}<br/>
<br/>
<span style="color:cornflowerblue"><b>Tag ID:</b></span> {{ data.tag.id }}<br/>
<span style="color:cornflowerblue"><b>Tag Name:</b></span> {{ data.tag.eng_name }}<br/>
<span style="color:cornflowerblue"><b>Tag Division:</b></span> {{ data.tag.class1 }} ({{ data.tag.division1|e }}-{{ data.tag.division2|e }}-{{ data.tag.division3|e }}-{{ data.tag.division4|e }}-{{ data.tag.division5|e }})
<br/><br/>
<span style="color:hotpink"><b>Opinion:</b></span> {{ data.opinion }}